{% extends "base.html" %}
<head>
	<title>{% block title %}Login{% endblock %}</title>
</head>
{% block content %}
<p style=padding-bottom:70px></p>
<div class="container w-25 p-3 my-3 text-danger  border border-danger rounded" id="loginform">
<form action="#" method="POST">
	<image src="{{url_for('static', filename='images/pizzaround.png')}}" width = 50 height= 50/>
	<br><br>
	<p>Username:</p>
	<p><input type="text" name="nm"/></p>
	<p>Password:</p>
	<p><input type="password" name="passw"/></p>
	<p><input type="submit" name="submit" value="Login"/></p>		
</form>
</div>

<div id="gotosignup">Don't have an account? <a href="#">Sign up </a> to get great deals!</div>
{% endblock %}